<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.wondersgroup.showcase.server.course.repository.mybatis.ICourseSelectMemberServerDao">

	<resultMap type="com.wondersgroup.showcase.client.entity.CourseSelectMember"
		id="courseSelectMemberResultMap">
		<id property="id" column="ID"></id>
		<result property="memberAccount" column="MEMBER_ACCOUNT" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="courseId" column="COURSE_ID" />
		<result property="courseTitle" column="COURSE_TITLE" />
		<result property="memberApartment" column="MEMBER_APARTMENT" />
		<result property="flag" column="FLAG" />
	</resultMap>

	<sql id="columnsOfCourseSelectMember">
		ID,MEMBER_ACCOUNT,MEMBER_NAME,COURSE_ID,COURSE_TITLE,MEMBER_APARTMENT,FLAG
	</sql>


	<select id="selectMemberByCourseIdAndMemberAccount"
		parameterType="java.util.Map" resultMap="courseSelectMemberResultMap">
		SELECT * FROM TB_COURSE_SELECT
		WHERE COURSE_ID = #{courseId,jdbcType=VARCHAR} AND
		MEMBER_ACCOUNT=#{memberAccount,jdbcType=VARCHAR}
	</select>
	
	<select id="selectCourseSelectMemberById"
		parameterType="String" resultMap="courseSelectMemberResultMap">
		SELECT * FROM TB_COURSE_SELECT
		WHERE ID = #{id,jdbcType=VARCHAR}
	</select>

	<select id="selectCourseSelectMembersByCourseIdWithPage"
		parameterType="java.util.Map" resultMap="courseSelectMemberResultMap">
		SELECT * FROM TB_COURSE_SELECT
		WHERE
		COURSE_ID=#{courseId,jdbcType=VARCHAR} AND FLAG=1 LIMIT
		#{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
	</select>

	<select id="selectCourseSelectMembersByCourseTitleWithPage" parameterType="java.util.Map"
		resultMap="courseSelectMemberResultMap">
		SELECT * FROM TB_COURSE_SELECT WHERE COURSE_TITLE=#{courseTitle,jdbcType=VARCHAR} AND FLAG=1 LIMIT
		#{start,jdbcType=INTEGER},
		#{pageSize,jdbcType=INTEGER};
	</select>

	<insert id="insertCourseSelectMember"
		parameterType="com.wondersgroup.showcase.client.entity.CourseSelectMember">
		INSERT INTO TB_COURSE_SELECT
		(
		<include refid="columnsOfCourseSelectMember" />
		)
		VALUES
		(
		#{id,jdbcType=VARCHAR},#{memberAccount,jdbcType=VARCHAR},#{memberName,jdbcType=VARCHAR},#{courseId,jdbcType=VARCHAR},
		#{courseTitle,jdbcType=VARCHAR},#{memberApartment,jdbcType=VARCHAR},#{flag,jdbcType=INTEGER}
		)
	</insert>
	<update id="deleteCourseSelectMemberById">
		UPDATE
		TB_COURSE_SELECT
		SET
		FLAG=0
		WHERE
		ID=#{id}
	</update>
</mapper>